#container{
    height: 100vh;
    display: grid;

    grid-template-areas: 
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s m m m m m m m m"
    "s s f f f f f f f f" 
}

.side-nav{
    grid-area: s;
    background-color: #8e44ad;
    display: grid;
    grid-template-rows: 2fr repeat(4, 1fr);
}

.main{
    grid-area: m;
    background-color: #ecf0f1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.foot{
    grid-area: f;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 5fr 1fr; 
}

.friends {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #B744B8;
    width: 90%;
    height: fit-content;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    justify-self: center;
}

.f-title {
    margin-left: 10px;
}

.sender {
    margin-left: 10px;
    background-color: lightsteelblue;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10%;
}

.reciever {
    margin-right: 10px;
    background-color: #2ecc71;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 10%;
    justify-self: end;
}

#send-button {
    background-color: #8e44ad;
}

.time {
    font-size: x-small;
}